#root {
    -fx-background-color: rgba(10, 10, 10, 0.5);
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

#pause_title {
    -fx-font-size: 25pt;
    -fx-font-family: "Arcade Normal";
    -fx-text-fill: white;
}

.button {
    -fx-font-family: "Arcade Normal";
    -fx-background-color: #dd3030;
    -fx-text-fill: white;

    -fx-min-width: 160px;

    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: #a72424;
}

.button:pressed {
    -fx-background-color: #7e1a1a;
}