.root {
    -fx-background-color: #222222;
}

#games_container {
    -fx-background-color: #222222;
}

#lbl_title {
    -fx-text-fill: white;
    -fx-font-family: "Arcade Normal";
    -fx-font-size: 30px;
    -fx-effect: dropshadow(one-pass-box, #8a2be2, 6, 0.8, 2, 2);
}

#lbl_author {
    -fx-text-fill: #a4a4a4;
    -fx-font-family: "Arcade Normal";
    -fx-font-size: 10px;
}

#scroll, #scroll > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar > .track {
    -fx-background-color: #262626;
}

.scroll-bar > .thumb {
    -fx-background-color: #101010;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.scroll-bar > .decrement-button,
.scroll-bar > .increment-button {
    -fx-background-color: #262626;
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: white;
}